
nav{
    background: black;
}

a{  
    padding-top: 5px;
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    font-size: 17px;
    font-style: italic;
    float: right;  
    color:  yellow;
}
